@use '../../styles/variables' as *;

.toggle {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-sm $spacing-md;
  font-size: 12px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
  
  body.dark & {
    background: rgba(255, 255, 255, 0.1);
  }
  
  &:hover {
    body.dark & {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.toggleIcon {
  font-size: 20px;
}

.toggleText {
  color: var(--text-color);
  font-weight: 300;
}