@use '../../styles/variables' as *;

.toggle {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-sm $spacing-md;
  border-radius: 40px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  
  body.dark & {
    background: rgba(255, 255, 255, 0.1);
  }
  
  &:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.2);
    
    body.dark & {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  
  // &:focus {
  //   outline: 2px solid $light-primary;
  //   outline-offset: 2px;
  // }
}

.toggleIcon {
  font-size: 20px;
}

.toggleText {
  color: var(--text-color);
  font-weight: 500;
}